doctype html.
html
  head
    title= title
    link(rel='stylesheet', href="/stylesheets/normalize.css")
    link(rel='stylesheet', href="/stylesheets/skeleton.css")
    link(rel='stylesheet', href="http://s.mlcdn.co/animate.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js")
    //script(src="/javascripts/vue.min.js")
    script(src="/javascripts/scripts.js")
  body
    block content
